<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Congregação</h3>
          <p class="text-subtitle text-muted"></p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
        </div>
      </div>
    </div>
    <!-- Striped rows start -->
    <section class="section">
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <!-- table striped -->
                <div class="table-responsive">
                  <table class="table table-striped mb-0">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%@entradas.each do |entrada|%>
                        <tr>
                          <td> <%= entrada.congregacao_id %> </td>
                          <td> <%= entrada.valor%> </td>
                          <td>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="bi bi-gear dropdown-icon"></i>
                            </button>
                            <div class="dropdown-menu">
                              <%= link_to entradas_path(entrada), class: "dropdown-item" do %>
                                <i class="bi bi-eye"></i> Visualizar
                              <% end %>
                              <%= link_to edit_entradas_path(entrada), class: "dropdown-item" do %>
                                <i class="bi bi-pencil"></i> Editar
                              <% end %>
                              <%= button_to entradas_path(entrada), method: :delete, class: "dropdown-item" do %>
                                <i class="bi bi-trash"></i> Deletar
                              <% end %>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>